@font-face {
  font-family: Work Thin;
  src: url(../fonts/WorkSans-Thin.ttf);
}
@font-face {
  font-family: Work Regular;
  src: url(../fonts/WorkSans-Regular.ttf);
}


* {
	box-sizing: border-box;
}

html {
	background: #000000;
	background-size: 100%, 100%;
}

body {
	margin: 0;
	padding: 0;
}

main {
	perspective: 800px;
	min-height: 100vh;
}

section {
	overflow: hidden;
	display: block;
}


#ripleyOuter {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	width: 300px;
	height: 600px;
}

#ripleySpeaks {
	color: #fff;
	font-family: Work Regular;
	font-size: 40px;
	margin: 40px;
}

#ripley {
	position: absolute;
	width: 300px;
	top: 600px;
}

footer {
	background: black;
	color: white;
	width: 100%;
	padding: .5em;
	position: fixed;
	bottom: 0;
	font-family: Work Regular;
}

#mute {visibility: hidden; opacity: 0;}

footer div {
	cursor: pointer;
	padding: .25em;
	user-select: none;
	display: inline-block;
}

footer div .longLabel {
	display: none;
}

#digitalClock {
	font-size: 4em;
	font-family: 'Work Thin';
	font-weight: 100;
	position: absolute;
	left: 50%;
	color: #ffffff;
}

#analogClock{
  display: block;
  position: relative;
  background: url('../img/wijzerplaat.png') center center no-repeat;
  background-size: 100%;
  margin: 0 auto;
  height: 480px;
  width: 480px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.box{
  display: block;
  position: absolute;
  height: 70px;
  width: 10px;
  border-radius: 10px;
}


.second{
  height: 180px;
  width: 2px;
  opacity: 0.5;
  background-color: white;
}

.minute{
  height: 160px;
  width: 5px;
  opacity: 0.5;
  
  background-color: #ffffff;
}

.hour{
  height: 140px;
  width: 10px;
  opacity: 0.5;
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
	#digitalClock {
		font-size: 6em;
	}
}
@media screen and (min-width: 640px) {
	#digitalClock {
		font-size: 10em;
	}
	footer div {
		padding: 0;
	}
	footer div .longLabel {
		display: inline-block;
	}
}
@media screen and (min-width: 768px) {
	#digitalClock {
		font-size: 14em;
	}
}
@media screen and (min-width: 1024px) {

	#digitalClock {
		font-size: 18em;
	}
	#analogClock {
		width: 500px;
		height: 500px;
	    position: absolute;
	    right: 128px;
    	top: 64px;
	}
	.hour {
		height: 140px;
	}
	.minute {
		height: 160px;

	}
	.second {
		height: 180px;
	}
}

@media screen and (min-width: 1440px) {

}